/*******************************************************************************
** BASE STYLES
*******************************************************************************/
body {
  font-family: 'Heebo', sans-serif;
  font-size: 2em;
  width: 95%;
  margin: auto;
}

header {
  width: 95%;
  position: fixed;
  background-color: #fff;
}

/*******************************************************************************
** Header
*******************************************************************************/

#header h1, #header h3 {
  margin: 10px auto;
}

/*******************************************************************************
** Nav
*******************************************************************************/

#main-nav {
  background-color: black;
  padding: 10px 0 10px 10px;
  text-align: center;
}

.navLink {
  font-size: 1.5em;
  margin-top: 0;
  text-decoration: none;
  color: lightgrey;
  padding: 0 20px;
}

#main-nav .active {
  color: red;
}

.navLink:nth-child(1n+2) {
  border-left: thin solid lightgrey;
}

/*******************************************************************************
** Content
*******************************************************************************/

#content {
  padding-top: 295px;
  font-size: 0.6em;
}

.notes {
  color: red;
  font-style: bold;
}

/* Content SIDEBARNAV */

#sideNav {
  width: 120px;
  position: fixed;
  margin-left: 80%;
  margin-bottom: 217px;
  border-left: grey solid;
  background-color: lightgrey;
  padding: 10px 20px 10px 0;
  height: 100%;
  z-index: 0;
}

#sideNav a {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px;
}

#sideNav a:nth-child(1n+2) {
  border-top: thin black solid;
}

#articles {
  padding-right: 20%;
  position: relative;
  z-index: -100;
}

.offset:before {
  display: block;
  content: "";
  height: 295px;
  margin-top: -295px;
  visibility: hidden;
}

/* Content INTRO */

#josh {
  border-radius: 10em;
  border: 3px grey ridge;
  height: 200px
  width: 200px;
  float: left;
  margin-right: 20px;
}

abbr {
  color: purple;
  text-decoration: underline;
}

/* Content BIO */

/* Content INTRESTS */

/* Content PROJECTS */

/*******************************************************************************
** Footer
*******************************************************************************/

footer {
  height: 207px;
  text-align: center;
  position: relative;
  z-index: 100;
  background-color: #fff;
  padding-top: 10px;
}

#social {
  height: 80px;
  padding: 10px 0 10px 10px;
}

.mediaLink {
  padding: 0 80px;
}

.mediaLink, .mediaLink img {
  height: 80px;
  width: 80px;
}

#copy {
  margin: 10px auto;
  text-decoration: overline;
}
